body{
	background: #f0f1f4;

}
.titulo{
	color: #4e2b23;
	display: flex;
	justify-content: center;
	font-family:Hepta Slab, serif;

}
.titulo2{
	color: #702619;
	display: flex;
	background-position: center;
	justify-content: center;
	font-family:Hepta Slab, serif;

}
.titulo3{
	color: #cfc2a0;
	background-position: center;
	justify-content: left;
	display: flex;
	font-size: 30px;
	font-family:Hepta Slab, serif;

}

header{
  background-color: rgba(255,255,255);
	padding: 100px;
}
header .logo{
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: blueviolet;
  font-size: 1.45em;
}
header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav{
  display: block;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}
header a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
header a:hover{
  color:;
}

.parrafo{
	color: #121114;
	display: inline-block;
	background: #20C7A6;
	font-family: sans-serif;
	margin: 80px;
}
.titulo4{
	color: #351EE4;
}
.imagen{
	text-align: center;
}
